<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Spring + JSF</title>
</h:head>
<h:body>
    <h3>Spring + JSF Example</h3>
    <h:outputText value = "#{testJsfBean.msg}"/>
</h:body>
</html>